models/03_assemblies/00_main_v21.step filter=lfs diff=lfs merge=lfs -text
models/03_assemblies/dragon_nose_v8.step filter=lfs diff=lfs merge=lfs -text
models/03_assemblies/jig_teststand_v24.step filter=lfs diff=lfs merge=lfs -text
models/03_assemblies/omvh732_v143.step filter=lfs diff=lfs merge=lfs -text
models/03_assemblies/pi_zero_compute_module_v15.step filter=lfs diff=lfs merge=lfs -text
models/03_assemblies/dragon_ear_port_v32.step filter=lfs diff=lfs merge=lfs -text
models/03_assemblies/dragon_ear_starboard_v26.step filter=lfs diff=lfs merge=lfs -text
models/03_assemblies/dragon_head_v55.step filter=lfs diff=lfs merge=lfs -text
models/03_assemblies/dragon_beard_dust_cover_v24.step filter=lfs diff=lfs merge=lfs -text
models/03_assemblies/dragon_face_v36.step filter=lfs diff=lfs merge=lfs -text
models/03_assemblies/dragon_throat_v49.step filter=lfs diff=lfs merge=lfs -text
